.background {
  background-color: #75fb9c;
}
.menubar {
  background-color: #ffffff;
}

ul.menubar li {
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #052552;
}

/* Mobile (xs) */
@media (max-width: 639px) {
  .menubar a {
    font-size: 11px;
  }

  ul.menubar li {
    border-right: solid 1px #00ff91;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1;
    padding: 5px;
  }

  ul.menubar li:last-child {
    border-right: none;
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  /* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
  /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  /* ... */
}
