.blog_image {
  width: 560px;
  height: 520px;
  background-color: #d8d8d8;
}

.blog_title,
.blog_date,
.blog_description {
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: justify;
  color: #041443;
}

.blog_title {
  font-weight: bold;
}

.blog_category {
  font-family: Metropolis;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: justify;
  color: #041443;
  background-color: #7df6a1;
  padding: 2px 5px;
}

.small_blog_title {
  font-family: Metropolis;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #171717;
}

.small_blog_date {
  font-family: Metropolis;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #666666;
}

.small_blog_image {
  width: 100%;
  background-color: #d8d8d8;
}

/* Mobile (xs) */
@media (max-width: 639px) {
  .blog_image {
    width: 100%;
    height: 260px;
    background-color: #d8d8d8;
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  /* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
  /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  /* ... */
}
